.heading {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.heading > span {
    margin-left: 8px;
}

.container {
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: auto;
}

.content-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
}

@media (max-width: 576px) {
    .content-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.content-column {
    display: flex;
    flex-direction: column;
}

.content-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    border-radius: 6px;
    padding: 8px 12px;
    background: #f2f2f2;
}

.content-row {
    padding: 4px 12px;
    border-bottom: 1px solid #AAAAAA;
    overflow-wrap: anywhere;
}