.st0 {
    fill: #FFFFFF;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #404040;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #FF851B;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #E2E000;
}

.st4 {
    fill: #1C1C1C;
}

.st5 {
    fill: #212191;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #FFCA18;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #B10DC9;
}

.st8 {
    fill: #FFCA18;
}

.st9 {
    fill: #0074D9;
}

.st10 {
    fill: #FF851B;
}

.st11 {
    fill: #404040;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #F4E798;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st13 {
    fill: none;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #FF4136;
    stroke: #1C1C1C;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}